.bg-hubrt1 {
    background : linear-gradient(90deg, rgba(249, 212, 35, 1) 0%, rgba(255, 58, 1, 1) 77.64%, rgba(255, 76, 20, 1) 81.6%, rgba(254, 112, 60, 1) 90.73%, rgba(254, 126, 75, 1) 95.48%);
}

.hub-font {
    font-family: "Source Code Pro Light", sans-serif;
}
.rt-font {
    font-family: "Segoe UI Light", sans-serif;
}
.hub-q-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%
}
.hub-q-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.hub-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #f05622;
}

.hub-subtitle {
    font-family: 'Libre Franklin', sans-serif;
}

.hub-footer {
    background-image: url("../img/bg/prism.png");
    padding: 30px;
    bottom: 0;
    width: 100%;
}

.hub-footer-legals{
    position: absolute;
}

.hub-content{
    padding-bottom: 250px;
}

.hub-card{
    margin-bottom: 3%;
}

.detr-brand {
    font-family: "Source Code Pro ExtraLight", sans-serif;
}